upstream vproapp {
	{% for host in groups['tomcat_instance'] %}
    		server {{ hostvars[host]['ansible_host'] }}:8080;
  	{% endfor %}
}
server {
	listen 80;
location / {
	proxy_pass http://vproapp;
}
}
